<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
<style>
*{
padding:0;
margin:0;
box-sizing:border-box;
}
body {
padding:0;
margin:0;
}
.login{
background-image: url('https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80') !important;
background-size:contain !important;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.h1{
color:#fff;
}
</style>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='    ' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Marketing Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="TV" placeholder="TV" required="required" />
        <input type="text" name="radio" placeholder="radio" required="required" />
		<input type="text" name="newspaper" placeholder="newspaper" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
